<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFilesFragment" value="Files\Input\"/>
    <add key="OutputFilesFragment" value="Files\Output\"/>
    <add key="RootPath" value="C:\_source\X9Framework\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>